<a href="https://colab.research.google.com/github/sandra12345678901/new130922/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hallo")

Hallo

In [7]:
from google.colab import files
from google.colab import drive
import pandas as pd
import requests
from io import StringIO

In [8]:
url = 'https://data.statistik.gv.at/data/OGD_krebs_ext_KREBS_1.csv'
df = pd.read_csv(url, sep=';')
df.head()

   C-TUM_ICD10_3ST-0   C-BERJ-0 C-BUNDESLAND-0 C-KRE_GESCHLECHT-0  F-KRE
0  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-1       GESCHLECHT-1      2
1  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-2       GESCHLECHT-1      8
2  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-2       GESCHLECHT-2      2
3  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-3       GESCHLECHT-1      6
4  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-3       GESCHLECHT-2      2